.center {
	margin: 0 auto;
	display: table;
	width:700px;
}

h3{
	font-size: 14px;
}
table#repeaters {
	width:700px;
}
/*
table#referrals th {
	background: #aaa;

*/

table#repeaters tbody tr:nth-child(2n) td {
  background: #ddd;
}
table#repeaters tbody tr:nth-child(2n+1) td {
  background: #fff;
}
table#repeaters td,th {
	padding: 12px;
}
table#repeaters tr {
	border-bottom: 1px dotted black;
}